<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrl.mall.product_inventory.mapper.ProductInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xrl.mall.product_inventory.entity.ProductInventory">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="available_stock" property="availableStock" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, available_stock, updated_at
    </sql>

</mapper>
