<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrl.mall.product_media.mapper.ProductMediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xrl.mall.product_media.entity.ProductMedia">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="media_url" property="mediaUrl" />
        <result column="media_type" property="mediaType" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, media_url, media_type, created_at
    </sql>

</mapper>
